[Unit]
Description="Service file for Monad Indexer"
After=network.target

[Service]
WorkingDirectory=${MONAD_DATA_DIR}
Type=simple
ExecStart=/usr/local/bin/monad-indexer \
    --block-data-source "${BLOCK_DATA_SOURCE}" \
    --archive-sink "${ARCHIVE_SINK}" \
    --otel-endpoint "http://127.0.0.1:4317"
EnvironmentFile=-/etc/monad/env
Restart=always
DynamicUser=yes
Group=monad
SupplementaryGroups=monad-ipc
ProtectHome=read-only
NoNewPrivileges=yes
RestrictSUIDSGID=yes
LockPersonality=yes
DeviceAllow=/dev/triedb rw
LimitNOFILE=1048576
# Hugemem configs below
LimitMEMLOCK=infinity
MemoryDenyWriteExecute=false
#SystemCallFilter=~@memlock
ProtectKernelModules=no
ProtectKernelLogs=no

[Install]
WantedBy=multi-user.target
