[Unit]
Description="Service file for Monad RPC"
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/monad-rpc \
    --ipc-path ${MONAD_RUNTIME_DIR}/mempool.sock \
    --triedb-path /dev/triedb \
    --otel-endpoint "http://127.0.0.1:4317" \
    --allow-unprotected-txs \
    --node-config ${MONAD_CONFIG_DIR}/node.toml
Environment="RUST_LOG=info,monad_ipc=debug"
EnvironmentFile=-/etc/monad/env
Restart=always
DynamicUser=yes
Group=monad
SupplementaryGroups=monad-ipc
ProtectHome=read-only
NoNewPrivileges=yes
RestrictSUIDSGID=yes
LockPersonality=yes
ReadWritePaths=/run/monad
DeviceAllow=/dev/triedb rw
LimitNOFILE=1048576
AllowedCPUs=12-15
CPUAffinity=12,13,14,15
# Hugemem configs below
LimitMEMLOCK=infinity
MemoryDenyWriteExecute=false
#SystemCallFilter=~@memlock
ProtectKernelModules=no
ProtectKernelLogs=no

[Install]
WantedBy=multi-user.target
