[Unit]
Description="Service file for Monad ledger-tail"
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/monad-ledger-tail \
    --ledger-path /var/lib/monad/ledger \
    --forkpoint-path /var/lib/monad/forkpoint/forkpoint.toml \
    --peers-path /var/lib/monad/peers.toml \
    --validators-path /var/lib/monad/validators/validators.toml
EnvironmentFile=-/etc/monad/env
Restart=always
DynamicUser=yes
Group=monad
SupplementaryGroups=monad-ipc
ProtectHome=read-only
NoNewPrivileges=yes
RestrictSUIDSGID=yes
LockPersonality=yes
LimitNOFILE=1048576
# Hugemem configs below
LimitMEMLOCK=infinity
MemoryDenyWriteExecute=false
ProtectKernelModules=no
ProtectKernelLogs=no

[Install]
WantedBy=multi-user.target
