[Unit]
Description="Service file for Monad blockcapd (local exec events capture writer)"
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/monad-blockcapd ${BLOCKCAPD_ROOT_DIR}
EnvironmentFile=-/etc/monad/env
Restart=no
DynamicUser=yes
Group=monad
SupplementaryGroups=monad-ipc
ProtectHome=read-only
NoNewPrivileges=yes
RestrictSUIDSGID=yes
LockPersonality=yes
ProtectKernelModules=no
ProtectKernelLogs=no

[Install]
WantedBy=multi-user.target
