[Unit]
Description="Service file for Monad Checker"
After=network.target
PartOf=monad.target monad-init.target

[Service]
WorkingDirectory=/home/monad
Type=simple
ExecStart=/usr/local/bin/monad-archive-checker \
    --bucket "${ARCHIVE_BUCKET}" \
    --metrics-listen-addr "0.0.0.0:9147" \
    --otel-endpoint "http://127.0.0.1:4317" \
    --record-metrics-interval-seconds 5 \
    --max-compute-threads 2 \
    checker \
    --recheck-freq-min 50 \
    --init-replicas "${INIT_REPLICAS}"
EnvironmentFile=-/home/monad/.env
Restart=always
User=monad
Group=monad
DeviceAllow=/dev/triedb rw
LimitNOFILE=1048576
# Hugemem configs below
LimitMEMLOCK=infinity
MemoryDenyWriteExecute=false
#SystemCallFilter=~@memlock
ProtectKernelModules=no
ProtectKernelLogs=no

[Install]
WantedBy=multi-user.target
